.symbol {
  width: 15px;
  height: 13px;
  margin-right: 22px;
}
.price-card__order-btn {
  width: 154px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $color-white;
}
.button-green {
  background-color: $color-green;
}
.button-blue {
    background-color: $color-blue;
}
.button-orange {
  background-color: $color-orange;
}