@import 'variables.scss';
@import 'price-card.scss';
@import 'commons.scss';
@import 'price-card-two.scss';
* {
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;

  background-color: #F2F2F2;;
}
.price-tables {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  // flex-wrap: wrap;
  overflow: hidden;
  background-color: $color-price-tables;
  max-width: 1440px;
  height: 1000px;
}
