@import 'variables.scss';
@import 'price-card.scss';
@import 'commons.scss';
@import 'price-card-two.scss';
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;

}
.page {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: $color-price-tables;
  width: 100%;
  overflow: hidden;
}
.price-tables {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex: 1;
  max-width: 1440px;
  height: 1000px;
  // flex-wrap: wrap;
}
