@import 'variables.scss';
@import 'price-card.scss';
@import 'commons.scss';
@import 'price-card-two.scss';
* {
  box-sizing: border-box;
}
.page {
  font-family: 'Montserrat', sans-serif;
}
.price-tables {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex: 1;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  background-color: $color-price-tables;
  max-width: 1440px;
  height: 1000px;
}
