.price-card {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  background-color: $color-card;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  width: 380px;
  height: 770px;
  padding-bottom: 40px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-top: 33px;
    margin-bottom: 33px;
    color: $color-white;
    &_bold {
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
    }
  }

  &__price {
    display: block;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: $color-white;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: $color-green;
    &_business {
      background-color: $color-blue;
    }
    &_webshop {
      background-color: $color-orange;
    }
  }
  &__description {
    display: block;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $color-white;
    margin: 40px 26px 40px 26px;
  }
  &__options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    &_item {
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      color: $color-white;
      padding: 16px 0 16px 22px;
      &:nth-child(odd) {
        background-color: $color-list;
      }
    }
  }
  &__button {
    padding: 0;
    margin: auto;
    margin-top: 39px;
  }
}
